@model ChillToeic.Models.Entity.Course
@{
    ViewData["Title"] = "CoursePurchased";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h1>Course Purchased</h1>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="card">
        <img class="img-fluid rounded w-100 mb-4" src="~/img/author1.jpg" alt="Image">
        <div class="card-header">
            <h2>@Model.Name</h2>
        </div>
        <div class="card-body">
            @if (Model != null)
            {
                <p>@Model.Description</p>
                <h3>Lectures:</h3>
                <div class="row">
                   @{
                        int lectureCount = 1;
                    }
                    @foreach (var lecture in Model.Lectures)
                    {
                        <div class="col-md-4 mb-3">
                            <a href="@Url.Action("Index", "LectureDetail", new { id = lecture.Id })" class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Lecture @lectureCount</h5>
                                </div>
                            </a>
                        </div>
                        lectureCount++;
                    }
                </div>
            }
            else
            {
                <p>No course found.</p>
            }
        </div>
    </div>
</div>


<style>
    .breadcrumbs.overlay h1 {
        color: white;
    }

</style>