@{

    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Center List</h2>
                    <ul class="bread-list">
                        <li><a asp-area="" asp-controller="Home" asp-action="HomePage">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Center list11111</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("UploadFile", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="downloadFile">
            <h4 class="textFile">Name and Description</h4>
        </div>

        <div class="row">
            <div class="col-md-8">
                <input type="text" name="TestName" id="TestName" value="Đây là test name" class="form-control" />
            </div>

            <div class="col-md-4">
                <select name="TestType" id="TestType" class="form-control">
                    <option value="1" selected>TOEIC</option>
                    <option value="2">IELTS</option>
                    <option value="3">TOEFL</option>
                    <!-- Thêm các lựa chọn khác tùy ý -->
                </select>

            </div>
        </div>

        <div>
            <input type="text" name="Description" id="Description" value="Mô tả" class="form-control" />
        </div>

        <div class="downloadFile">
            <h4 class="textFile">Upload the exam file</h4>
        </div>

        <div class="downloadFile">
            <a href="path/to/your/file" class="btn btn-secondary" download>Tải File Mẫu</a>
        </div>


        <div class="row">
              <div class="col-md-6">
                  <input type="file" name="excelFile" id="excelFile" class="form-control" />
              </div>

              <div class="col-md-6">
                  <input type="file" id="fileInput" name="fileInput" class="form-control" multiple>
              </div>
        </div>

        <div class="form-group">
            <div class="row">
               
                   
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" id="uploadBtn">Upload</button>
                </div>
            </div>

        </div>


    </div>

}
<style>
    #uploadBtn {
        width: 200px;
    }

    #Description {
        height: 150px;
    }

    .downloadFile {
        text-align: center; /* Căn giữa nội dung trong phần 'FILE' */
        margin-bottom: 20px; /* Khoảng cách dưới của phần 'FILE' */
        margin-top: 20px;
    }

    .textFile {
        font-size: 1.5em; /* Kích thước chữ của tiêu đề 'FILE' */
        font-weight: bold; /* In đậm tiêu đề 'FILE' */
        margin-bottom: 10px; /* Khoảng cách dưới của tiêu đề 'FILE' */
        font-family: Arial, sans-serif; /* Thay đổi font chữ */
    }


        /* Thêm gạch ngang dưới tiêu đề 'FILE' */
        .textFile:after {
            content: '';
            display: block;
            width: 300px; /* Chiều dài của gạch */
            border-bottom: 2px solid black; /* Màu và độ dày của gạch */
            margin: 10px auto; /* Căn giữa gạch và chữ 'FILE' */
        }

    .form-control {
        margin-bottom: 20px;
        height: 44px;
        transition: background-color 0.3s ease;
    }

        .form-control:hover {
            transition: color 0.5s;
            background-color: #f0f0f0; /* Màu nền khi di chuột vào */
        }


    .form-group {
        margin-top: 20px; /* Khoảng cách trên của button Upload */
        text-align: center; /* Căn giữa các nút */
    }

    .btn-primary, .btn-secondary {
        margin: 0 10px; /* Khoảng cách giữa các nút */
    }

    .btn-primary {
        transition: transform 0.3s; /* Hiệu ứng khi di chuột vào button Upload */
    }

    label {
        transition: color 0.3s; /* Hiệu ứng khi di chuột vào label */
    }

</style>