@{

    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-body">
    <p class="card-title mb-0">List of all learners</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Level</th>
                    <th>QuantityOfLecture</th>
                    <th>QuantityOfRegister</th>
                    <th>CreatedAt</th>
                    <th>Education center</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>1990-01-01</td>
                    <td>john.doe@example.com</td>
                    <td>85</td>
                    <td>2024-04-14</td>
                    <td>1</td>
                    <td>ABC</td>
                    <td>True</td>
                    <td><a class="btn1" href="/Admin/CourseDetailManagement">View</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
    .btn1 {
        color: white;
        background: #1a76d1;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s ease;
        s
    }

        .btn1:hover {
            color: white;
            background: #125d9b;
        }
</style>