@{
    ViewData["Title"] = "Lecture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model ChillToeic.Models.Entity.LectureDetail

@if (Model != null && !string.IsNullOrEmpty(Model.Content))
{
    <div class="container">
        <h2>Document Viewer</h2>
        <div id="documentContent">
            <!-- Nội dung tài liệu -->
            <iframe src="~/document/@Model.Content" width="100%" height="500px"></iframe>
        </div>
        <div class="navigation-buttons">
            <button class="btn btn-primary" id="backButton">Back</button>
            <button class="btn btn-primary" id="nextButton">Next</button>
        </div>
    </div>
}
else
{
    <p>Không tìm thấy dữ liệu cho bài giảng này.</p>
}